.container {
  padding: 12em 12em;
  height: 100vh;
  /* min-width: 80vw; */
}

.hr {
  height: 3px;
  background: grey;
  margin-top: 1em;
}

.links {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-top: 1.5em;
}

.link:hover {
  color: blueviolet;
}
