.container {
  padding: 12em 12em;
  height: 100vh;
}

.hr {
  height: 3px;
  background: grey;
  border: grey;
  margin-top: 1em;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.link:hover {
  color: blueviolet;
}

.email {
  display: inline-block;
  white-space: nowrap;
}

@media only screen and (min-height: 700px) and (max-height: 900px) {
  .container {
    padding: 10em 12em;
  }
}

@media only screen and (max-height: 699.9px) {
  .container {
    padding: 8em 12em;
  }
}

@media only screen and (max-width: 860px) {
  .container {
    background-color: aqua;
    padding-left: 6em;
    padding-right: 6em;
  }
}
