.container {
  padding-top: 16em;
}

.email {
  display: inline-block;
  white-space: nowrap;
}

.hr {
  height: 3px;
  background: grey;
  border: grey;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.link:hover {
  color: goldenrod;
}

@media (max-width: 600px) and (max-height: 900px) {
  .container {
    padding-top: 0em;
  }

  .grid {
    align-items: center;
  }
}
