.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0px 2em;
}

.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  color: blueviolet;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
  cursor: default;
}
