.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
  cursor: default;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0px 2em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  color: blueviolet;
}
