.menuButton {
  display: inline-block;
}

.menuButton:hover,
.closeButton:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(21%) sepia(85%) saturate(3267%)
    hue-rotate(265deg) brightness(89%) contrast(99%);
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  animation: fadeIn 0.5s;
}

.page {
  font-size: 4rem;
}

.page:hover {
  color: blueviolet;
}

@media (max-width: 600px) {
  .page {
    font-size: 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
