.menuButton:hover,
.closeButton:hover {
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  animation: fadeIn 0.5s;
}

.page:hover {
  color: blueviolet;
  font-size: 4rem;
}

@media only screen and (min-height: 700px) and (max-height: 900px) {
  .overlaycontent {
    top: 18%;
  }
}

@media only screen and (max-height: 699.9px) {
  .overlaycontent {
    top: 10%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
