.menuButton:hover,
.closeButton:hover {
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlaycontent {
  color: #ffffff;
  position: relative;
  top: 25%;
  text-align: center;
  margin-top: 30px;
}

.page:hover {
  color: blueviolet;
  font-size: 4rem;
}
