.container {
  top: 34vh;
  left: 16vw;
  position: absolute;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.hr {
  height: 3px;
  background: grey;
}
