.hr {
  height: 3px;
  background: grey;
  border: grey;
  margin-top: 1em;
}

.title,
.noLink {
  color: white;
  display: inline-block;
  padding-top: 10px;
  line-height: 100%;
}

.title:hover {
  color: goldenrod;
}

.type {
  text-align: right;
}

@media (max-width: 600px) {
  .type {
    text-align: left;
    padding-top: 6px;
  }
}
