.container {
  top: 26vh;
  left: 16vw;
  position: absolute;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.hr {
  height: 3px;
  background: grey;
  margin-top: 1em;
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.title {
  color: white;
}

.title:hover {
  color: blueviolet;
}
