.container {
  top: 26vh;
  left: 16vw;
  position: absolute;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.hr {
  height: 3px;
  background: grey;
  margin-top: 1em;
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.title {
  color: white;
  display: inline-block;
}

.title:hover {
  color: blueviolet;
}

.visit {
  margin-left: 1em;
  color: greenyellow;
}

.visit:hover {
  color: goldenrod;
}

.image {
  width: 35vw;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  margin-left: -4em;
}

.content {
  display: inline-block;
  min-width: 40vw;
  margin-left: 4rem;
}
