.container {
  top: 26vh;
  left: 16vw;
  position: absolute;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.hr {
  height: 3px;
  background: grey;
  border: grey;
  margin-top: 1em;
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.title {
  color: white;
  display: inline-block;
}

.title:hover {
  color: blueviolet;
}

.visit {
  margin-left: 1em;
  color: greenyellow;
}

.visit:hover {
  color: goldenrod;
}

.image {
  width: 35vw;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  margin-left: -4em;
}

.content {
  display: inline-block;
  min-width: 40vw;
  margin-left: 4rem;
}

.description {
  max-width: 40vw;
}

@media only screen and (max-width: 900px) {
  .container {
    top: 12vh;
  }
  .content {
    min-width: 80vw;
    margin: 2em 0em 4em -3.5em;
  }
  .image {
    /* width: 80vw;
    margin-top: 0;
    margin-left: -3.5em; */
    display: none;
  }
  .description {
    max-width: 80vw;
  }
}

@media only screen and (min-height: 750px) and (max-height: 900px) {
  .container {
    top: 16vh;
  }
  .hr {
    margin-top: 0.8em;
  }
}

@media only screen and (max-height: 749.9px) {
  .container {
    top: 12vh;
  }
  .hr {
    margin-top: 0.8em;
  }
  .project {
    padding: 0.5em;
  }
}
